
.content-wrapper {
    padding-bottom: 20px;
}

.logo {
    background-color: transparent !important;
    width: 195px !important;
    margin: 20px auto;
    border-right: none !important;
    float: none !important;

}

.logo > svg {
    fill: #fff;
}

th > a, td > a {
    color: #222d32 !important;
}

/** Language tabs **/

.language_tabs > li {
    font-weight: bold;
}

.language_tabs > li > a {
    color: #000;
}

.language_tabs {
    margin-top: 20px;
}

.language_tabs > li.required > a::after {
    content: ' *';
}

.switch {
    display: none;
}

.sidebar-menu, .treeview-menu > li > a {
    font-size: 12px !important;
    text-transform: uppercase !important;
}

.main-header {
    width: 230px !important;
}

.content-wrapper {
    padding-top: 0px !important;
}

.grid_image {
    width: 100px !Important;
}

/***********************\
	# IMG CROPPER
\***********************/
.modal-lg {
    width: 739px;
}

.modal-lg .container {
    padding: 30px 30px;
}

.modal-lg .col-sm-12 {
    min-height: 0px;
}

.modal-content {
    border: none;
    background-color: #EDEDED;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.img-container {
    width: 434px;
    max-height: 434px;
    overflow: hidden;
}

.cropper-container {
    top: 0 !important;
}

.tab-error {
    color: red !important;
}

.hidden_label {
    display: none;
}

.nav .navbar-nav {
    margin-right: 15px;
}

.nav-tabs > li > a {
    color: #000;
    font-weight: 600;
}

label {
    font-weight: normal !important;
}

.content-append > button {
    margin-bottom: 20px;
}

td > img {
    width: 180px;
}

.products-list .product-img img {
    width: 100px !Important;
    object-fit: cover;
    height: 41px !important;
}

.products-list .product-info {
    margin-left: 115px !Important;
}

.margin_custom {
    margin-top: 5px !Important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 190px;
}

.bg-bage {
    margin-top: 5px;
}

.content {
    height: 100%;
    overflow: hidden;
}

.border-black {
    border-top-color: #3c8dbc !important;
}

@media (max-width: 767px) {
    .main-header, .navbar {
        width: 100% !important;
        float: none !important;
    }

    .sidebar-toggle {
        float: right;
    }

    .navbar {
        clear: left;
    }

    .main-sidebar {
        padding-top: 115px !important;
    }

    .content-wrapper {
        padding-top: 100px !important;
    }
}

.product-info > a {
    color: #222d32;
}

a.uppercase {
    color: #222d32;
}

.black {
    background-color: #222d32 !important;
    border: none !important;
}

.position_column {
    width: 80px;
}

.preson_img {
    width: auto;
    height: 150px
}

.select2-search__field {
    width: 205px !important;
}

.file-preview-frame {
    min-width: 115px;
}

#map {
    width: 100%;
    height: 535px;
    min-width: 986px;
    position: relative;
    overflow: hidden;
}

#map__img {
    position: relative;
    height: 535px;
    width: 1280px;
}

.bg_img {
    width: 1280px;
    margin-top: -110px;
}

#map > #map_img {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: -110px;
}

.container_img {
    width: 40px;
    height: 50px;
    position: absolute !important;
}

.container_img > .remove__pin {
    cursor: pointer !important;
}

.map__wrapper, .map__builder {
    margin-top: 15px;
}

.push {
    min-height: 277px;
}

.success_push {
    padding-top: 100px;
    text-align: center;
}

.file-preview-image {
    max-width: 100%;
}

.pin {
    z-index: 22;
    position: absolute;
}

.form-group .radio, .form-group .checkbox {
    margin: 0;
    padding: 28px 55px 10px 0;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.form-group .checkbox label.active {
    color: #28292a;
}

.form-group .checkbox label.active::before {
    border-width: 2px;
    background: #28292a;
}

aside {
    padding-top: 90px !important;

}

.sidebar-menu > li.header {
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
}

.glyphicon {
    position: relative;
    top: 2px;
}

.language_tabs, .nav-tabs {
    font-size: 13px !important;
}

.nav-tabs-custom {
    margin-bottom: 1px !important;
    box-shadow: none !important;
}

.delimiter {
    font-weight: bold;
    text-align: center;
    padding-bottom: 8px;
    width: 50%;
    margin: 10px auto;
}

.input-sm.select2-container--krajee .select2-selection--multiple .select2-selection__choice, .input-group-sm .select2-container--krajee .select2-selection--multiple .select2-selection__choice {
    padding: 1.2px 10px !important;
}

.content-append .btn-template-delete, .content-append .btn-template-mover {
    position: absolute;
    z-index: 1;
    top: 7px;
    width: auto;
    height: auto;
    padding: 2px;
    margin: 0;
    background: none;
    line-height: 1;
}

.content-append .btn-template-delete {
    left: auto;
    right: 8px;
}

.form-group {
    position: relative;
}

.content-append {
    width: 100%;
    margin: 10px auto;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    padding: 35px 15px 5px;
    background: #ecf0f5;
}

.custom-append {
    padding: 15px 15px 5px !Important;

}

h4 {
    font-size: 15px;
}

.content-append > .nav-tabs-custom > .language_tabs, .content-append > .nav-tabs-custom > .language_tabs > .active > a, .content-append > .nav-tabs-custom > .language_tabs > .active > a:hover {
    background: #ecf0f5;
}

.glyphicon-move, .glyphicon-trash {
    color: #696969;
}

.btn.btn-flat {
    outline: 0;
}

.btn.btn-flat:active {
    outline: 0;
}

.glyphicon-plus, .glyphicon-upload {
    font-size: 10px;
    top: 0px;
    right: 2px;
}

.glyphicon-picture {
    font-size: 10px;
    top: -1px;
    right: 3px;

}

.nav-tabs-custom.tab-primary > .nav-tabs > li.active {
    border: none !important;
}

.nav-tabs {
    border-bottom: 2px solid #444;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #444;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #444 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #363ca1;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 35px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.switch-tabs.language_tabs {
    display: inline-block;
}

.switch-tabs > li > a {
    padding: 8px 15px 8px 15px !important;
}

div.switch-tabs {
    overflow: hidden;
}

.switch-tabs > li > a::after {
    height: 0px !important;
}

.switch-tabs.tab-primary > .nav-tabs > li.active {
    border: 2px solid #3c8dbc !important;
    box-sizing: border-box;

}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #444 none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.nav-tabs-custom > .nav-tabs > li.active {
    border-top: none !important;
    margin-top: 3px;
}

.nav-tabs-custom.tab-primary > .nav-tabs > li.active {
    margin-top: 3px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.tab_seo_content {
    margin-top: -10px;
}

div.checkbox {
    margin-left: -20px !important;
}

.fc-day-grid-event .fc-content {
    white-space: normal !important;
    padding-left: 4px;
    padding-right: 4px;
}

.fc-day-grid-event {
    border-radius: 0px !important;
    padding: 0px !important;
}

.nav-tabs > li > a.tab-error::after {
    background: red;
}

.badge {
    margin-left: 3px;
}

.fc-center > h2 {
    font-size: 20px;
    padding-top: 5px;
}

.location {
    color: #808080 ! Important;
    font-size: 13px;
}

.bg-bage {
    background-color: #fff !important;
    padding: 5px 10px 5px;
    color: #808080;
    border: 1px solid #808080;
    border-radius: 0px;
    margin-left: 10px;
}

.color-black {
    color: #4d4242 ! Important;
    font-size: 13px;
}

.color-black > i {
    padding-right: 5px;
}

.fc-scroller {
    overflow: hidden !important;
    height: auto !important;
}

#centers-map_place {
    margin-top: 10px;
    width: 80%;
    height: 40px;
}

.custom-head {
    background: #ebebeb;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}

.label-price {
    font-size: 14px;
    font-weight: bold !important;
}

.sub_header {
    text-align: center;
    text-transform: uppercase;
    background: #ebebeb;
}

.sub_header > h4 {
    font-size: 16px !important;
}

.nav-stacked {
    font-size: 13px;
}

.order__popup {
    font-weight: bold;
    cursor: pointer;
}

.order__popup:hover {
    text-decoration: underline;
}

.file-name {
    margin-bottom: 25px;
}

.users-list > li img {
    width: 85%;
    border-radius: 0 !important;
    display: inline-block;
    height: 90px !important;
    object-fit: cover;
}

.users-list > li {
    width: 200px !important;
}

.__item__span {
    color: #000;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}

.slider {
    width: 100px;
    display: inline-block !important;
}

.__item {
    width: 200px;
}

.text-white {
    color: #fff !important;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.button-small {
    padding: 3px 12px !important;
}

.overflow {
    overflow: hidden;
}

.location > .glyphicon-pushpin {
    margin-right: 5px;
    top: 5px;
}

td > a > img {
    max-width: 150px;
    min-width: 150px;
}

.hint-block {
    font-size: 11px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
}

textarea {
    min-height: 150px;
}

.fa-arrow-right {
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 40%;
    color: #3c8dbc;
}

.fa-arrow-left {
    display: inline-block;
    position: absolute;
    left: -15px;
    top: 40%;
    color: #3c8dbc;
}

.slick-slider {
    margin-top: 10px;
}

.__label {
    font-size: 15px;
    color: #164254;
}

.__label > i {
    margin-right: 10px;
}

button {
    border: none !important;
}

.builder-widgets .row.sticky {
    top: 0px !important;
}

.main-header .logo {
    height: 60px !important;
}

.box.box-primary {
    border-top-color: #363ca1 !important;
}

.kv-fileinput-upload {
    background-color: #363ca1 !important;
    border-color: #363ca1 !important;
}

@media (max-width: 767px) {

    .main-header {
        background: #1a2226 !important;
    }
}

.bold {
    font-weight: bold;
    text-decoration: underline;
}

._head_items {
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    text-align: left;
}

.users-list > li {
    margin-left: 15px;
}

.bg-green > div > i {
    color: rgba(255, 255, 255, 0.8) !important;
}

.bg-dark > div > i {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 70px;
    position: relative;
    bottom: 5px;
}

.bg-dark {
    background: #1a2226;
    color: #fff !important;
}

#googleLocation {
    width: 50%;
    margin-top: 8px;
    border-radius: 15px;
}

.logo > img {
    height: 38px;
    position: relative;
    right: 10px;
}

.box.box-primary {
    border-top-color: #363ca1 !important;
}

.skin-green .sidebar-menu > li.active > a {
    border-left-color: #363ca1 !important;
}

.field-configurator-contactspagelat-value, .field-configurator-contactspagelng-value {
    display: none !important;
}

#configurator-contactspagefilledvalue-value {
    width: 50%;
    margin-top: 8px;
    border-radius: 15px;
}

.field-configurator-contactspagefilledvalue-value > label {
    display: none !important;
}

.ready {
    opacity: 0 !important;
}